<!DOCTYPE html>
<html th:replace="~{layout/default :: layout(~{::title},~{::section},~{::article})}">

<title>CREATE</title>

<article class="control__frame">
    <div class="authenticate__frame" th:unless="${loginUser}">
        <span>어서오세요</span>
        <span><a href="/user/login">로그인</a> | <a href="/user/create">회원가입</a></span>
    </div>
    <div class="authenticate__frame" th:if="${loginUser}">
        <span th:text="${loginUser.getNickName}+'님 어서오세요.'">어서오세요</span>
        <span><a href="/logout">로그아웃</a></span>
    </div>
</article>


<section class="body_frame">


    <form action="/user/create" th:action th:object="${user}" method="post" class="post__create">

        <div th:if="${#fields.hasGlobalErrors()}">
            <p class="field-error__font" th:each="err: ${#fields.globalErrors()}" th:text="${err}">전체 오류 메세지</p>
        </div>

        <span class="author_register_header">회원가입</span>

        <span class="author_register_form" th:text="#{user.email}">Email</span>
        <input class="author_register_text" type="text" name="email" th:field="*{email}" th:errorclass="field-error">
        <div class="field-error__font" th:errors="*{email}">에러 메세지</div>

        <span class="author_register_form" th:text="#{user.nickName}">Nick Name</span>
        <input class="author_register_text" type="text" name="nickName" th:field="*{nickName}" th:errorclass="field-error">
        <div class="field-error__font" th:errors="*{nickName}">에러 메세지</div>

        <span class="author_register_form" th:text="#{user.password}">Password</span>
        <input class="author_register_text" type="password" name="password" th:field="*{password}" th:errorclass="field-error">
        <div class="field-error__font" th:errors="*{password}">에러 메세지</div>

        <span class="author_register_form" th:text="#{user.password.confirm}">Confirm Password</span>
        <input class="author_register_text" type="password" name="password2" th:field="*{passwordConfirm}" th:errorclass="field-error">
        <div class="field-error__font" th:errors="*{password}">에러 메세지</div>

        <input class="post_submit" type="submit" value="Register" th:value="#{button.create}">
    </form>
</section>

<section class="body_frame_sub ">
    <div class="post__bottom-bar">
        <div></div>
        <div class="post__page-num"></div>
        <div class="post__detail__control_box"></div>
    </div>
</section>


</html>